<section id="about" class="py-5">
  <div class="container">
    <h2 class="mb-4">Sobre Mí</h2>
    <p>¡Hola! Soy Mary Gissel Alvarado Raudales, especialista en Ciencias de Datos e Inteligencia Artificial. Mi pasión y experiencia radican en transformar datos complejos en soluciones claras y acciones concretas, usando técnicas avanzadas de análisis y algoritmos de IA. Con formación en Ingeniería Informática y especialización como Especialista en Ciencias de Datos e Inteligencia Artificial, he aplicado mis habilidades en diversos sectores, liderando proyectos que mejoran la toma de decisiones y el rendimiento empresarial. Me motiva el aprendizaje continuo y la colaboración con equipos multidisciplinarios para abordar retos complejos. Fuera del trabajo, disfruto compartiendo conocimientos y manteniéndome al día con las últimas tendencias en tecnología. Estoy abierto a conectar y explorar cómo podemos trabajar juntos para crear impacto.</p>
  </div>
</section>