<header class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3">Mary Gissel Alvarado Raudales</h1>
    <p class="lead">Especialista en Ciencias de Datos e Inteligencia Artificial</p>
    <a href="#about" class="btn btn-primary">Saber más</a>
  </div>
</header>